{% extends "template.twig" %}

{% block title %}Admin | Customer List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="box">
            <div class="box-body px-0">
                <div class="table-responsive rounded card-table">
                    <table class="table border-no" id="example1">
                        <thead>
                            <tr>
                                <th>Customer ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact No.</th>
                                <th>Orders made</th>
                                <th>Items in Cart</th>
                                <th>Items in Wishlist</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr class="hover-primary">
                                <td>{{customer[0]}}</td>
                                <td>{{customer[1]}}</td>
                                <td>{{customer[2]}}</td>
                                <td>{{customer[3]}}</td>
                                <td>{{customer[4]}}</td>
                                <td>{{customer[5]}}</td>
                                <td>{{customer[6]}}</td>
                                <td>
                                    <a href="customer_details.php?cxid={{customer[0]}}"><span class="badge badge-pill badge-danger-light hover-primary">View More</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}