{% extends "template.twig" %}

{% block title %}Admin | Product List{% endblock %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{product[0]}}</h4>
                <div class="header-elements">
                    <!-- <span class="badge bg-danger badge-pill">Paid</span> -->
                    <div class="box-controls pull-right">
                        <label class="switch switch-border switch-danger">
                            {% if product[1] %}
                            <input type="checkbox" checked>
                            {% else %}
                            <input type="checkbox">
                            {% endif %}
                            <span class="switch-indicator"></span>
                            <span class="switch-description"></span>
                        </label>
                    </div>
                </div>
            </div>
            <img class="card-img-top" src="{{product[2]}}" alt="Card image cap">

            <div class="card-body">
                <p class="card-text">
                    <strong>Categories: </strong>{{product[5]}}<br>
                    <strong>Concerns: </strong>{{product[6]}}
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            {% if product[8] %}
                            <th>30 mL</th>
                            {% endif %}
                            {% if product[9] %}
                            <th>50 mL</th>
                            {% endif %}
                            {% if product[10] %}
                            <th>100 mL</th>
                            {% endif %}
                            {% if product[11] %}
                            <th>250 mL</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>MRP</b></td>
                            {% if product[8] %}
                            <td>₹{{product[8]}}</td>
                            {% endif %}
                            {% if product[9] %}
                            <td>₹{{product[9]}}</td>
                            {% endif %}
                            {% if product[10] %}
                            <td>₹{{product[10]}}</td>
                            {% endif %}
                            {% if product[11] %}
                            <td>₹{{product[11]}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td><b>Final</b></td>
                            {% if product[12] %}
                            <td>₹{{product[12]}}</td>
                            {% endif %}
                            {% if product[13] %}
                            <td>₹{{product[13]}}</td>
                            {% endif %}
                            {% if product[14] %}
                            <td>₹{{product[14]}}</td>
                            {% endif %}
                            {% if product[15] %}
                            <td>₹{{product[15]}}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer justify-content-between d-flex">
                <!-- <span class="text-muted">Last updated 3 mins ago</span> -->
                <ul class="list-inline mb-0">
                    <li><a href="product_details.php?pdid={{product[7]}}">View more</a></li>
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
                <span>
                    {% if product[4]==0 %}
                    {% for i in 1..5 %}
                    <i class="fa fa-star text-warning"></i>
                    {% endfor %}
                    <span class="text-muted ml-2">5.0 (0)</span>
                    {% else %}
                    {% for i in 1..(product[3]|round(0,'floor')) %}
                    <i class="fa fa-star text-warning"></i>
                    {% endfor %}
                    {% if product[3]-(product[3]|round(0,'floor')) >= 0.5 %}
                    <i class="fa fa-star-half text-warning"></i>
                    {% endif %}
                    <span class="text-muted ml-2">
                        {{product[3]}} ({{product[4]}})</span>
                    {% endif %}

                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}