{% extends 'template.twig' %}

{% block content %}

{% for item in cart %}
<div class="modal" id="modal-{{item[3]}}">
    <div class="modal-content">
        <div class="modal-header">
            <h6 style="color:white;" class="modal-title">Are you sure you want to remove
                this item from cart?</h6>
        </div>
        <div class="modal-body">
            {{item[1]}}
        </div>
        <div class="modal-body">
            <button type="button" class="btn border" data-dismiss="modal">
                Cancel
            </button>
            <a href="cart_delete.php?pdid={{item[3]}}"><button type="button" class="btn bg-primary right-content"
                    style="color:white;" data-dismiss="modal">
                    Delete
                </button></a>
        </div>
    </div>
</div>
{% endfor %}

<div class="hero-wrap hero-bread" style="background-image: url('/media/categories/all-products.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span></p>
                <h1 class="mb-0 bread">Cart</h1>
            </div>
        </div>
    </div>
</div>
{% if cart|length >0 %}
<form id="cart-form" method="POST" action="cart_update.php">
    <input type="hidden" id="submit_type" name="submit_type" value="checkout">
    <input type="hidden" id="form-total" name="form-total" value="{{total}}">
</form>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th></th>
                                <th>Item Details</th>
                                <th>Price</th>
                                <th>Volume</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            <tr class="text-center">
                                <td class="image-prod">
                                    <div class="img" style="background-image:url({{item[0]}});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>{{item[1]}}</h3>
                                    <p>{{item[2]}}</p>
                                </td>
                                <td class="price">₹{{item[6]}}</td>
                                <td class="Volume">{{item[4]}}</td>
                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <button type="button" class="quantity-left-minus btn" data-type="minus"
                                            data-field="" onclick="qtyDec('{{item[3]}}')">
                                            <i class="ion-ios-remove"></i>
                                        </button>
                                        <input form="cart-form" type="text" id="quantity-{{item[3]}}" name="{{item[3]}}"
                                            onchange="qtyChanged()" class="quantity form-control input-number"
                                            value={{item[5]}} min="1" max="100">
                                        <button type="button" class="quantity-right-plus btn" data-type="plus"
                                            data-field="" onclick="qtyInc('{{item[3]}}')">
                                            <i class="ion-ios-add"></i>
                                        </button>
                                    </div>
                                </td>
                                <td class="total">₹{{item[7]}}</td>
                                <td class="product-remove"><a href="#" data-toggle="modal"
                                        data-target="#modal-{{item[3]}}" title="Remove from cart"><span
                                            class="ion-ios-close"></span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Coupon Code</h3>
                    <p>Enter your coupon code if you have one</p>
                    <div class="form-group">
                        <label for="">Coupon code</label>
                        <input form="cart-form" type="text" name="coupon" value="{{coupon}}" class="form-control text-left px-3"
                            placeholder="">
                    </div>
                </div>
                <p><button class="btn btn-primary py-3 px-4" onclick="formSubmit('coupon')">Apply
                        Coupon</button></p>
            </div>
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span name="subtotal">₹{{subtotal}}</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery charges</span>
                        <span name="delivery">₹{{delivery}}</span>
                    </p>
                    {% if discount %}
                    <p class="d-flex">
                        <span>Discount</span>
                        <span name="discount">- ₹{{discount}}</span>
                    </p>
                    {% endif %}
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span name="total">₹{{total}}</span>
                    </p>
                </div>
                <p><button class="btn btn-primary py-3 px-4" onclick="formSubmit('checkout')">Proceed to
                        Checkout</button></p>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="hero-wrap hero-bread">
    <div class="container">
        <div class="row no-gutters slider-text align-itedeletems-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                {# <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span></p> #}
                <h1 class="mb-0 bread" style="color: #B76F4E">Your Cart is empty</h1>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block js %}
<script>
    function qtyChanged() {
        var qtys = document.getElementsByClassName("input-number");
        var totals = document.getElementsByClassName("total");
        var prices = document.getElementsByClassName("price");
        var subtotal = 0;

        for (i = 0; i < qtys.length; i++) {
            var qty = Number(qtys[i].value);
            var price = Number(prices[i].innerHTML.slice(1));
            totals[i].innerHTML = "₹" + (qty * price).toString();

            subtotal += (qty * price);
        }

        document.getElementsByName("subtotal")[0].innerHTML = "₹" + subtotal.toString();

        delivery = Number(document.getElementsByName("delivery")[0].innerHTML.slice(1));
        total = delivery + subtotal;
        if (document.getElementsByName("discount").length > 0) {
            total -= Number(document.getElementsByName("discount")[0].innerHTML.slice(3));
        }
        document.getElementsByName("total")[0].innerHTML = "₹" + total.toString();
        document.getElementById("form-total").value = total;
    }
</script>

<script>
    function qtyDec(pdid) {
        var n = Number(document.getElementById('quantity-' + pdid).value);
        if (n > 0) {
            document.getElementById('quantity-' + pdid).value = (n - 1).toString();
        }
        qtyChanged();
    }
    function qtyInc(pdid) {
        document.getElementById('quantity-' + pdid).value = (Number(document.getElementById('quantity-' + pdid).value) + 1).toString();
        qtyChanged();
    }
    function formSubmit(type) {
        if (type == 'coupon') {
            document.getElementById('submit_type').value = 'coupon';
        }
        else if (type == 'checkout') {
            document.getElementById('submit_type').value = 'checkout';
        }
        document.getElementById('cart-form').submit();
    }
</script>
{% endblock %}