{% extends 'template.twig' %}

{% block content %}

{% for item in cart %}
<div class="modal" id="modal-{{item[3]}}">
    <div class="modal-content">
        <div class="modal-header">
            <h6 style="color:white;" class="modal-title">Are you sure you want to remove
                this item from cart?</h6>
        </div>
        <div class="modal-body">
            Item name
        </div>
        <div class="modal-body">
            <button type="button" class="btn border" data-dismiss="modal">
                Cancel
            </button>
            <a href="cart_delete.php?pdid={{item[3]}}"><button type="button" class="btn bg-primary right-content"
                    style="color:white;" data-dismiss="modal">
                    Delete
                </button></a>
        </div>
    </div>
</div>
{% endfor %}

<div class="hero-wrap hero-bread" style="background-image: url('/media/categories/all-products.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span></p>
                <h1 class="mb-0 bread">Cart</h1>
            </div>
        </div>
    </div>
</div>
<form id="cart-form"></form>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th></th>
                                <th>Item Details</th>
                                <th>Price</th>
                                <th>Volume</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            <tr class="text-center">
                                <td class="image-prod">
                                    <div class="img" style="background-image:url({{item[0]}});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>{{item[1]}}</h3>
                                    <p>{{item[2]}}</p>
                                </td>
                                <td class="price">₹{{item[6]}}</td>
                                <td class="Volume">{{item[4]}}</td>
                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <input type="text" name="quantity" onchange="qtyChanged()"
                                            class="quantity form-control input-number" value={{item[5]}} min="1"
                                            max="100">
                                    </div>
                                </td>
                                <td class="total">₹{{item[7]}}</td>
                                <td class="product-remove"><a href="#" data-toggle="modal"
                                        data-target="#modal-{{item[3]}}" title="Remove from cart"><span
                                            class="ion-ios-close"></span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Coupon Code</h3>
                    <p>Enter your coupon code if you have one</p>
                    <form action="#" class="info">
                        <div class="form-group">
                            <label for="">Coupon code</label>
                            <input type="text" class="form-control text-left px-3" placeholder="">
                        </div>
                    </form>
                </div>
                <p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
            </div>
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span name="subtotal">₹{{subtotal}}</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery charges</span>
                        <span name="delivery">₹{{delivery}}</span>
                    </p>
                    {% if discount %}
                    <p class="d-flex">
                        <span>Discount(5%)</span>
                        <span name="discount">- ₹200</span>
                    </p>
                    {% endif %}
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span name="total">₹{{total}}</span>
                    </p>
                </div>
                <p><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    function qtyChanged() {
        var qtys = document.getElementsByName("quantity");
        var totals = document.getElementsByClassName("total");
        var prices = document.getElementsByClassName("price");
        var subtotal = 0;

        for (i = 0; i < qtys.length; i++) {
            var qty = Number(qtys[i].value);
            var price = Number(prices[i].innerHTML.slice(1));
            totals[i].innerHTML = "₹" + (qty * price).toString();

            subtotal += (qty * price);
        }

        document.getElementsByName("subtotal")[0].innerHTML = "₹" + subtotal.toString();

        delivery = Number(document.getElementsByName("delivery")[0].innerHTML.slice(1));
        total = delivery + subtotal;
        if (document.getElementsByName("discount").length > 0) {
            total -= Number(document.getElementsByName("discount")[0].innerHTML.slice(3));
        }
        document.getElementsByName("total")[0].innerHTML = "₹" + total.toString();
    }
</script>
{% endblock %}