{% extends 'template.twig' %}

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('/media/categories/all-products.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span></p>
                <h1 class="mb-0 bread">My Orders</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Order ID</th>
                                <th>Date</th>
                                <th>Delivery Address</th>
                                <th>Total</th>
                                <th>Order details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr class="text-center">
                                <td>{{order[0]}}</td>
                                <td>{{order[1]}}</td>
                                <td>{{order[3]}}, {{order[4]}}, {{order[5]}}-{{order[6]}}, {{order[7]}}. </td>
                                <td class="price">₹ {{order[8]}}</td>
                                <td class="ord-details">
                                    <a href="order_details.php?ordid={{order[0]}}"><button style="background-color: #f4f2e4"> Order
                                            details</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}