{% extends 'template.twig' %}

{% block content %}
<div class="modal" id="cart-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h6 style="color:white;" class="modal-title">Moving to your cart</h6>
        </div>
        <div class="modal-body">
            <form action="cart_add.php" method="POST" id="cart-form" class="billing-form">
                <input name="pdid" type="hidden" value="{{details[3]}}">
                <h3 class="mb-4 billing-heading">{{details[0]}}</h3>
                <div class="row align-items-end">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="country">Volume</label>
                            <div class="select-wrap">
                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                <select id="volume" name="volume" class="form-control">
                                    {% if details[14] %}
                                    <option value="30ml">30ml</option>
                                    {% endif %}
                                    {% if details[15] %}
                                    <option value="50ml">50ml</option>
                                    {% endif %}
                                    {% if details[16] %}
                                    <option value="100ml">100ml</option>
                                    {% endif %}
                                    {% if details[17] %}
                                    <option value="250ml">250ml</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {# <div class="w-100"></div> #}
                    <div class="col-xl-6">
                        <label for="cart-quantity">Quantity</label><br>
                        <div class="input-group xl-6">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field=""
                                onclick="qtyDec()">
                                <i class="ion-ios-remove"></i>
                            </button>
                            <input type="text" id="cart-quantity" name="qty" class="quantity form-control input-number"
                                value=1>
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field=""
                                onclick="qtyInc()">
                                <i class="ion-ios-add"></i>
                            </button>
                        </div>
                    </div>
                    <div class="w-100"></div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn border" data-dismiss="modal">
                Cancel
            </button>
            <button type="submit" form="cart-form" class="btn bg-primary right-content" style="color:white;">Move
            </button>
        </div>
    </div>
</div>

<div class="Container">
    <div class="ProductMeta">
        <div class="custom_reviews">
            <section class="ftco-section">
                <div class="container">
                    <div class="row">
                        <div class=" slideshow-container col-lg-6 mb-5 ftco-animate">
                            {% for img in media %}
                            <div class="mySlides fade">
                                <a href="{{img[0]}}" class="image-popup"><img src="{{img[0]}}" class="img-fluid"></a>
                            </div>
                            {% endfor %}
                            <br>
                            <div style="text-align:center">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                            <div class="rating d-flex">
                                <p class="text-left mr-4">
                                    {% if details[1]!=0 %}
                                    <a href="#" class="mr-2">{{details[1]}}</a>
                                    {% else %}
                                    <a href="#" class="mr-2">5.0</a>
                                    {% endif %}
                                    {% for i in 1..(details[1]|round(0,'floor')) %}
                                    <a href="#"><span class="ion-ios-star"></span></a>
                                    {% endfor %}
                                    {% if details[1]-(details[1]|round(0,'floor')) >= 0.5 %}
                                    <a href="#"><span class="ion-ios-star-half"></span></a>
                                    {% endif %}
                                    {% for i in 1..(5-details[1]|round(0,'ceil')) %}
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    {% endfor %}
                                </p>
                            </div>
                            <h3><b>{{details[0]}}</b></h3>
                            <table>
                                <tbody>
                                    {% for ben in details[4] %}
                                    <tr>
                                        <td> <img
                                                src="https://cdn.shopify.com/s/files/1/0058/7779/2832/files/Right_Icon.png?v=1616486636"
                                                alt=""> </td>
                                        <td>&ensp;{{ben}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table><br>
                            <div class="intro-line">
                                <p>{{details[6]}}</p>
                            </div>
                            <div class="table">
                                <table>
                                    <tbody>
                                        {% if details[11] %}
                                        <tr>
                                            <td><button class="btn btn-price" name="price">₹ <del>{{details[7]}}</del>
                                                    {{details[11]}}</button>
                                            </td>
                                        </tr>
                                        {% elseif details[12] %}
                                        <tr>
                                            <td><button class="btn btn-price" name="price">₹ <del>{{details[8]}}</del>
                                                    {{details[12]}}</button>
                                            </td>
                                        </tr>
                                        {% elseif details[13] %}
                                        <tr>
                                            <td><button class="btn btn-price" name="price">₹ <del>{{details[9]}}</del>
                                                    {{details[13]}}</button>
                                            </td>
                                        </tr>
                                        {% elseif details[14] %}
                                        <tr>
                                            <td><button class="btn btn-price" name="price">₹ <del>{{details[10]}}</del>
                                                    {{details[14]}}</button>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- <p><b>INGREDIENTS:</b>&ensp;{{details[3]}}</p> -->
                            <p><b>APPLICATION:</b>&ensp;{{details[5]}}</p>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="form-group d-flex">
                                        <div class="select-wrap">
                                            {% if details[11] %}
                                            <button class="btn btn-qty"
                                                onclick="changePrice('{{details[11]}}')">30ml</button>
                                            {% endif %}
                                            {% if details[12] %}
                                            <button class="btn btn-qty"
                                                onclick="changePrice('{{details[12]}}')">50ml</button>
                                            {% endif %}
                                            {% if details[13] %}
                                            <button class="btn btn-qty"
                                                onclick="changePrice('{{details[13]}}')">100ml</button>
                                            {% endif %}
                                            {% if details[14] %}
                                            <button class="btn btn-qty"
                                                onclick="changePrice('{{details[14]}}')">250ml</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <p><a href="#" class="btn btn-black py-3 px-5" data-toggle="modal"
                                        data-target="#cart-modal">Add to Cart</a>
                                    <span> </span>
                                    <a href="#" class="btn btn-black py-3 px-5">Buy Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center mb-3 pb-3">
                        <div class="col-md-12 heading-section text-center ftco-animate">
                            <span class="subheading">Ingredients</span>
                            <h2 class="mb-4">Main Ingredients used</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        {% for ing in ings %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="#" class="img-prod"><img class="img-fluid" src="{{ing[1]}}" alt="Kare Forever">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center" style="min-height: 160px;">
                                    <h3><a href="#">{{ing[2]}}</a></h3>
                                    <div class="d-flex">
                                        <div class="Ing-details">
                                            <p class="ingredient-det"><span class="ing-sale">{{ing[3]}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center mb-3 pb-3">
                        <div class="col-md-12 heading-section text-center ftco-animate">
                            <span class="subheading">Products</span>
                            <h2 class="mb-4">Related Products</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        {% for prod in related %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="product_details.php?pdid={{prod[1]}}" class="img-prod"><img class="img-fluid" src="{{prod[0]}}"
                                        alt="Colorlib Template">
                                    {% if prod[2]>0 %}
                                    <span class="status">{{prod[2]}}%</span>
                                    {% endif %}
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="">{{prod[3]}}</a></h3>
                                    {% if prod[4]>0 %}
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span class="mr-2 price-dc">₹{{prod[4]}}</span><span
                                                    class="price-sale">₹{{prod[8]}}</span></p>
                                        </div>
                                    </div>
                                    {% elseif prod[5]>0 %}
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span class="mr-2 price-dc">₹{{prod[5]}}</span><span
                                                    class="price-sale">₹{{prod[9]}}</span></p>
                                        </div>
                                    </div>
                                    {% elseif prod[6]>0 %}
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span class="mr-2 price-dc">₹{{prod[6]}}</span><span
                                                    class="price-sale">₹{{prod[10]}}</span></p>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span class="mr-2 price-dc">₹{{prod[7]}}</span><span
                                                    class="price-sale">₹{{prod[11]}}</span></p>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="#"
                                                class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-23581568-13');
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

    function changePrice(price) {
        document.getElementsByName('price')[0].innerHTML = '₹ ' + price;
    }

    function qtyDec() {
        var n = Number(document.getElementById('cart-quantity').value);
        if (n > 0) {
            document.getElementById('cart-quantity').value = (n - 1).toString();
        }
        qtyChanged();
    }

    function qtyInc() {
        document.getElementById('cart-quantity').value = (Number(document.getElementById('cart-quantity').value) + 1).toString();
        qtyChanged();
    }
</script>
{% endblock %}