{% extends 'template.twig' %}

{% block content %}
{% for item in wishlist %}
<div class="modal" id="modal-{{item[3]}}">
    <div class="modal-content">
        <div class="modal-header">
            <h6 style="color:white;" class="modal-title">Are you sure you want to remove
                this item from wishlist?</h6>
        </div>
        <div class="modal-body">
            {{item[1]}}
        </div>
        <div class="modal-body">
            <button type="button" class="btn border" data-dismiss="modal">
                Cancel
            </button>
            <a href="wishlist_delete.php?pdid={{item[3]}}"><button type="button" class="btn bg-primary right-content"
                    style="color:white;" data-dismiss="modal">
                    Delete
                </button></a>
        </div>
    </div>
</div>
{% endfor %}

<div class="hero-wrap hero-bread" style="background-image: url('/media/categories/all-products.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span></p>
                <h1 class="mb-0 bread">Wishlist</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th rowspan="2" colspan="2">Item Details</th>
                                <th colspan="4">Price</th>
                                <th></th>
                            </tr>
                            <tr class="text-center">
                                <th>30ml</th>
                                <th>50ml</th>
                                <th>100ml</th>
                                <th>250ml</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in wishlist %}
                            <tr class="text-center">
                                <td class="image-prod">
                                    <div class="img" style="background-image:url({{item[0]}});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>{{item[1]}}</h3>
                                    <p>{{item[2]}}</p>
                                </td>
                                {% if item[4] %}
                                <td class="price">₹{{item[4]}}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                                {% if item[5] %}
                                <td class="price">₹{{item[5]}}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                                {% if item[6] %}
                                <td class="price">₹{{item[6]}}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                                {% if item[7] %}
                                <td class="price">₹{{item[7]}}</td>
                                {% else %}
                                <td>-</td>
                                {% endif %}
                                <td class="product-remove"><a href="wishlist_cart.php?prodid={{item[3]}}"
                                        title="Move to cart"><span class="icon-shopping_cart"></span></a><a
                                        href="wishlist_remove.php?prodid={{item[3]}}" title="Remove from wishlist"
                                        data-toggle="modal" data-target="#modal-{{item[3]}}"><span
                                            class="ion-ios-close"></span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}